
.div1{
    background-color: aquamarine;
}

.div2{
    background-color: rgb(192, 35, 118);
}

.div3{
    background-color: rgb(237, 165, 64);
}
.container{
    border: 2px solid #000000;
    max-width: 400px;  /*limita o tamanho do elemento*/
    margin:0 auto;
    display: flex; /*define o tamanho do elemento e o espaço entre eles*/
    
}

.item{
    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    color: aliceblue;
}
.flex{
    display: flex;
    flex-direction: column;
}
.flex > div > img{
    height: 60px;
    width: 60;
}
.div_coluna{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

.secao{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    gap: 10px;   /* coloca um espaço entre os elementos */
    flex-wrap: wrap; /* Quebra os elementos para outra linha, caso não haja espaço suficiente */
}
.secao_imagem{
    height: 150px;
    width: 150px;
}
.alinhar-esquerda{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Alinha os elementos a esquerda*/
    
}
.alinhar-centro{
    display: flex;
    flex-direction: row;
    justify-content: center; /* Alinha os elementos ao centro */
} 
.alinhar-direita{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* Alinha os elementos ao centro */
} 
.alinhar-entre{
    display: flex;
    justify-content: row;
    justify-content: space-between; /* alinha os elementos nos cantos e ajusta ao centro*/
}
.alinhar-redor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;  /* Alinha os elementos de acordo o espaço ao redor */
}
.alinhar-coluna{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: rgb(87, 55, 194);
}
.alinhar-itens-centro{
    display: flex;
    align-items: center;
    background-color: rgb(109, 234, 193);
    flex-direction: row;
    height: 200px;
    justify-content: space-between;
}
.container_card{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 500px;
}
.card{
    width: 300px;
    height: 400px;
    border:1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    font-family: Arial, Helvetica, sans-serif;
    /* define configurações da transição */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex: 0 0 auto;
}
.card:hover{
    /* transform: translateZ(10); */
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4)
}
.cabecalho_card{
    padding: 10px;
    text-align: center;
}
.titulo_card{
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}
.subtitulo_card{ 
    margin: 0;
    font-size: 1rem;
    color: #777;
}
.imagem_card{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagem_card > img{
    max-width: 100%; /* Mantem um limite máximo de tamanho do container*/
    height: 200px; /* mantém a proporção da imagem */
}
.imagem_card > figcaption{
    font-size:  0.8rem;
    padding: 8px;
    text-align: center;
    color: #555;

}
.conteudo_card{
    padding: 10px;
    background-color: #f5f5f5;
    text-align: center;
}
.rodapé-card{
    background-color: #7d7a7a;
    text-align: center;
    padding: 6px;
}
.botao-card{
    background-color: #50a2d8;
    color: antiquewhite;
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 5px 6px;
    text-decoration: none; /* remove a linha que fica em baixo*/

    /* permite definir largura e altura, 
    alinha elementos na mesma linha*/
    display: inline-block; 
}
.botao-card:hover{
    background-color: #98299d;
    width: 110px;
} 
